<ion-header class="ion-no-border" *ngIf="info">
  <ion-toolbar>
    <ion-title class="title">Update {{info.name}}</ion-title>
    <ion-buttons slot="start">
      <img (click)="cancel()" src="/assets/icon/back.png" alt="">
    </ion-buttons>
    <ion-buttons slot="end">
      <img (click)="submitForm()" src="/assets/icon/done.png" alt="">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="info" >

  <br>
  <div class="image-container">
    <ng-container *ngIf="!selectedPhotoPath && !info.photourl">
      <ng-lottie [options]="{ path: 'assets/json/placeholder_herb.json' }"></ng-lottie>
    </ng-container>
    <img [src]="selectedPhotoPath || info.photourl" *ngIf="selectedPhotoPath || info.photourl">
  </div>
  
  <br>
  <div class="button-container">
    <button (click)="openCamera()">
      <ng-lottie [options]="option"></ng-lottie> 
      Upload Photo
    </button>
  </div>
  

  <ion-segment [(ngModel)]="selectedSegment" class="sticky-segment">
    <ion-segment-button value="1" (click)="selectSegment(1)">
      <img src="/assets/icon/info.png" alt="">
    </ion-segment-button>
    <ion-segment-button value="2" (click)="selectSegment(2)">
      <img src="/assets/icon/do.png" alt="">
    </ion-segment-button>
  </ion-segment>


  <form [formGroup]="updateInfoForm" #updateForm="ngForm" (ngSubmit)="updateInfo(updateInfoForm.value)" *ngIf="info">
    
    <swiper-container #swiper (slidechange)="slideDidChange()" class="swiper" 
    auto-height="true" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)">


      <!--segment 1 content-->
      <swiper-slide value="1">
        <div class="card">
          <p>Name</p>
          <textarea 
          class="card-text" 
          formControlName="name" 
          autosize
          [minRows]="1"
          ></textarea>
        </div>

        <div class="card">
          <p>Introduction</p>
          <textarea class="card-text" autosize [minRows]="6" formControlName="introduction"></textarea>
        </div>

        <div class="card">
          <p>Cause</p>
          <textarea class="card-text" autosize [minRows]="6" formControlName="cause"></textarea>
        </div>
      </swiper-slide>

      <swiper-slide value="2">
        <!-- Display subsequent cards when there are existing descriptions -->
        <div [formGroup]="description" class="card" *ngFor="let description of descriptionControls; let i = index">
            <p>Step: {{i + 1}}</p>
            <textarea class="card-text" autosize [minRows]="6" formControlName="content"></textarea>
            <button type="button" (click)="deletedesc(i)">Delete Description</button>
        </div>
        
        <!-- Display the initial card -->
        <div class="card">
          <p>Step: </p>
          <textarea class="card-text" autosize [minRows]="6" formControlName="content"></textarea>
        </div>
        <button type="button" (click)="addDescription()">Add Description</button>
        <br>
        <br>
      </swiper-slide>

    </swiper-container>
  </form>
 
  <div class="button-container">
    <button (click)="deleteInfo(info.id)">Delete this info</button>
  </div>
</ion-content>

