<ion-content>

  
  <div class="container">
    <div class="login">
      <img src="/assets/rhu_logo.png">
      <p>Login</p>
      <img src="/assets/san_isidro_logo.png">
    </div>

    <form (ngSubmit)="login()" [formGroup]="logInForm">

    <div class="label-container">
      <div class="form-control">
        <input type="text" required="" formControlName="email">
        <label>
          <ng-container *ngFor="let char of [' ', 'E','m','a','i','l']; let i = index">
            <span [style.transition-delay]="(i + 1) * 50 + 'ms'">
              <ion-icon slot="start" *ngIf="i === 0" name="mail"></ion-icon>
              {{ char }}
            </span>
          </ng-container>
        </label>
        <ion-note class="error" *ngIf="(email.dirty || email.touched) && email.errors">*Invalid Email</ion-note>
      </div>
      <br>
      <br>
         <!-- Password-->
         <div class="form-control">
          <input type="{{ showpass ? 'text' : 'password' }}" required="" formControlName="password">
          <label>
            <ng-container *ngFor="let char of [' ','P','a','s','s','w','o','r','d']; let i = index" >
              <span [style.transition-delay]="(i + 1) * 50 + 'ms'">
                <ion-icon slot="start" *ngIf="i === 0" name="lock-closed"></ion-icon>
                {{ char }}
              </span>
            </ng-container>
          </label>
          <ion-icon class="icon-eye" slot="end" [name]="showpass ? 'eye-off' : 'eye'" (click)="toggleshow()"></ion-icon>
          <ion-note class="error" *ngIf="(password.dirty || password.touched) && password.errors">Invalid Password</ion-note>
        </div>
        <br>

        <div class="forgot-password">
          <a routerLink="/forgot-password">Forgot Password?</a>
        </div>
        <div class="button">
          <button class="myButton" type="submit">
            Login
          </button>
        </div>
    </div>
    </form>
    <div class="footer">
      <p>Don't Have an Account? <a (click)="signup()">Sign up</a></p>
    </div>
  </div>
  
</ion-content>