<ion-content>

  
  <div class="container">
    <div class="login">
      <img class="left" src="/assets/rhu_logo.png">
      <p>Login</p>
      <img class="right" src="/assets/san_isidro_logo.png">
    </div>

    <form (ngSubmit)="login()" [formGroup]="logInForm">

    <div class="label-container">
        <p>Email</p>
        <ion-item>
          <ion-icon  name = "mail"></ion-icon>
          <ion-input type="email" placeholder="user@gmail.com" formControlName="email"></ion-input>
        </ion-item>
        <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Invalid Email</ion-note>

        <p>Password</p>
        <ion-item>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input type="{{showpass ? 'text' : 'Password'}}" placeholder="********" formControlName="password"></ion-input>
          <ion-icon slot="end" [name] = "showpass ? 'eye-off': 'eye'" (click)="toggleshow()"></ion-icon>
        </ion-item>
        <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Invalid Password</ion-note>

        <div class="forgot-password">
          <a routerLink="/forgot-password">Forgot Password?</a>
        </div>
        <div class="button">
          <button class="myButton" type="submit">
            Login
          </button>
        </div>
    </div>
    </form>
    <div class="footer">
      <p>Don't Have an Account? <a (click)="signup()">Sign up</a></p>
    </div>
  </div>
  
</ion-content>