<ion-content>
  <div class="e-card playing">
    <div class="image"></div>
    
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="infotop">
      <p class="info">Information</p>
      <p>You should know</p>
    </div>
  </div>

  <ion-segment [(ngModel)]="selectedSegment" class="sticky-segment">
    <ion-segment-button *ngFor="let segment of segments" [value]="segment.value" (click)="selectSegment(segment.value)">
      <img [src]="segment.image" alt="">
    </ion-segment-button>
  </ion-segment>

  <swiper-container #swiper (slidechange)="slideDidChange()" class="swiper">

    <swiper-slide *ngFor="let segment of segments" [value]="segment.value">
      <div class="parent">
        <div *ngFor="let card of segment.cards">
          <ion-card>
            <div class="card" [routerLink]="card.routerLink">
              <img [src]="card.image" alt="">
              <p>{{ card.title }}</p>
            </div>
          </ion-card> 
        </div>
      </div>
    </swiper-slide>

  </swiper-container>
</ion-content>
