<ion-header>
  <ion-toolbar>
    <ion-title>Emergency Information</ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="dismissModal()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="!createInfoForm.valid" (click)="submitForm()">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <div class="image-container">
    <ng-container *ngIf="!createInfoForm.get('photourl').value">
      <ng-lottie [options]="{ path: 'assets/json/placeholder_herb.json' }"></ng-lottie>
    </ng-container>
    <img [src]="createInfoForm.get('photourl').value" *ngIf="createInfoForm.get('photourl').value">
  </div>

  <div class="button-container">
    <button (click)="openCamera()">
      <ng-lottie [options]="option"></ng-lottie> 
      Upload Photo
    </button>
  </div>

  <ion-segment [(ngModel)]="selectedSegment" class="sticky-segment">
    <ion-segment-button value="1" (click)="selectSegment(1)">
      <ion-label class="segment-text">Info</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2" (click)="selectSegment(2)">
      <ion-label class="segment-text">Methods</ion-label>
    </ion-segment-button>
  </ion-segment>


  <form [formGroup]="createInfoForm" #createForm="ngForm" (ngSubmit)="createInfo(createInfoForm.value)">

    <swiper-container #swiper (slidechange)="slideDidChange()" class="swiper" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)">

    <!--segment 1 content-->
    <swiper-slide value="1">
      <div class="card">
        <p>Accident Name</p>
        <textarea type="text" class="card-text" autosize [minRows]="1" formControlName="accidents"></textarea>
        <p>Description</p>
        <textarea class="card-text" autosize [minRows]="6" formControlName="introduction"></textarea>
      </div>
    </swiper-slide>

     <!--segment 2 content-->
     <swiper-slide value="2">
      <div class="card">
        <p>Methods</p>
        <textarea class="card-text" autosize [minRows]="6" formControlName="methods"></textarea>
      </div>
    </swiper-slide>

    </swiper-container>
    </form>

</ion-content>
