<ion-header>
  <ion-toolbar>
    <ion-title>First Aid Information</ion-title>
    <ion-buttons slot="start">
        <img (click)="dismissModal()" src="/assets/icon/back.png" alt="">
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="!createInfoForm.valid" (click)="submitForm()">
        <img src="/assets/icon/done.png" alt="">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div class="image-container">
    <ng-container *ngIf="!createInfoForm.get('photourl').value">
      <ng-lottie [options]="{ path: 'assets/json/placeholder_herb.json' }"></ng-lottie>
    </ng-container>
    <img [src]="createInfoForm.get('photourl').value" *ngIf="createInfoForm.get('photourl').value">
  </div>

  <div class="button-container">
    <button (click)="openCamera()">
      <ng-lottie [options]="option"></ng-lottie> 
      Upload Photo
    </button>
  </div>

  <ion-segment [(ngModel)]="selectedSegment" class="sticky-segment">
    <ion-segment-button value="1" (click)="selectSegment(1)">
      <img src="/assets/icon/info.png" alt="">
    </ion-segment-button>
    <ion-segment-button value="2" (click)="selectSegment(2)">
      <img src="/assets/icon/do.png" alt="">
    </ion-segment-button>
  </ion-segment>

  <form [formGroup]="createInfoForm" #createForm="ngForm" 
  auto-height="true" (ngSubmit)="createInfo(createInfoForm.value)">

    <swiper-container #swiper (slidechange)="slideDidChange()" class="swiper" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)">


      <!-- Segment 1 content -->
      <swiper-slide value="1">
        <div class="card">
          <p>Injury Name</p>
          <textarea class="card-text" autosize [minRows]="1" formControlName="name"></textarea>
        </div>
        <div class="card">
          <p>Introduction</p>
          <textarea class="card-text" autosize [minRows]="6" formControlName="introduction"></textarea>
        </div>
        <div class="card">
          <p>Cause</p>
          <textarea class="card-text" autosize [minRows]="6" formControlName="cause"></textarea>
        </div>
      </swiper-slide>

      <swiper-slide value="2">
        <!-- Display subsequent cards when there are existing descriptions -->
        <div class="card">
          <p>What you need to do</p>
        </div>

        <div [formGroup]="description" class="card" *ngFor="let description of descriptionControls; let i = index">
            <p>Step: {{i + 1}}</p>
            <textarea class="card-text" autosize [minRows]="6" formControlName="content"></textarea>
        </div>
        
        <!-- Display the initial card -->
        <div class="card">
          <p>Step: </p>
          <textarea class="card-text" autosize [minRows]="6" formControlName="content"></textarea>
        </div>
        <button type="button" (click)="addDescription()">Add Step</button>
      </swiper-slide>

    </swiper-container>
  </form>

</ion-content>
