<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>why</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3>Introduction</h3>
  <p>Learning traditional medicine is valuable from the perspective of a Department of Health for several reasons. Traditional medicine often plays a significant role in the healthcare landscape, especially in regions where it has been practiced for generations. Integrating the study of traditional medicine into health departments fosters a more inclusive and holistic approach to healthcare. It allows healthcare professionals to understand and respect cultural practices, providing them with the knowledge to collaborate effectively with traditional healers. Additionally, learning traditional medicine can contribute to a more comprehensive healthcare system, where both conventional and traditional approaches work together to address the diverse health needs of the population. This integration promotes cultural sensitivity, improves patient trust, and enhances overall healthcare outcomes by combining the strengths of various medical traditions.</p>
  <p>Why should you learn Traditional Medication?</p>
   <li>enable you to make and use basic herbal medicines for yourself and your family or friends </li>
   <li>it can help you to safely prescribe some basic herbs in your practice should you be, for example, a nutritionist or a naturopath</li>
   <li>you will learn about lifestyle factors and the role of nutrition and diet within the realm of herbalism and how herbs affect health and nutrition</li>
</ion-content>
