<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img (click)="cancel()" src="/assets/icon/back.png" alt="">
    </ion-buttons>
    <ion-title>aim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <div class="card-content">
      <h3 class="title">Aims of First Aid</h3>
      <p class="intro">Introduction</p>
      <p class="content">First aid is the provision of immediate treatment or care given to someone suffering from an injury or illness. First Aid is done by trained personnel or even by any trained civilian within the vicinity. It is the care the trained person applies as soon as possible after an accident or sudden illness of a casualty occurs. He/ she performs first aid until more advanced care is accessed from the paramedics/ medical team or if the injured or ill person has recovered.
        <br>A huge number of deaths and impact of injuries can be prevented with First Aid if causalities are treated immediately. This prompt care and attention prior to the arrival of the ambulance or medical help can sometimes mean the difference between life and death or between a full or partial recovery. However, there are some self-limiting illnesses or minor injuries that may only require first aid intervention. In these cases, no further treatment is needed. First aid generally consists of some simple, often life-saving techniques that most people can be trained to perform with minimal equipment.
      </p>
      <h3 class="intro">The aims</h3>
      <p class="content">The aims of First Aid are the reasons for carrying out the first aid measures itself. The aims are related to the Principles of First Aid. Simply said, these are the things that the person giving first aid is trying to achieve. There are three main aims of First Aid and they are as follows:</p>
        <ul>
          <li>The first aim is to preserve life. This is the primary aim, the most important one, of first aid as it involves saving the life of the casualty or any potential casualties within the risk vicinity. This includes the life of the first aid personnel, the casualty (the victim, the injured or sick person), and as well as the bystanders. Consequently, this means that the first aid applied to someone may not be the final medical treatment that the casualty receives, especially if the case is that of a major injury. Instead, this may just be the preliminary treatment and should be followed up by the professional medical team.</li>
          <li>Secondly, prevent further harm. This is also known as preventing the condition from worsening or preventing further damage, as it involves danger of further injury. This includes external factors, such as moving the patient out of harm’s way. And also during the application of first aid techniques, that is to prevent worsening of the condition, like in the instance of applying pressure to stop a massive bleeding. The first aid provided should not make the condition worse.</li>
          <li>The third aim is to promote recovery. First aid is still involved in the recovery phase from the illness or injury, especially in the beginning of its process. Sometimes it can even be involved in completing a treatment, such as in the case of applying a plaster to a small wound.</li>
        </ul>
      <p class="content">The other aims of First Aid are: to provide pain relief, to protect the unconscious, and to provide reassurance to the casualty.
        <br><br>The provision of prompt and appropriate first aid can reduce the severity of an injury or illness. It must be noted that there is a limit as to the effectiveness that first aid can provide. If a casualty reaches further medical aid without his condition becoming worse then the person administering first aid has done his job well.
      </p>
    </div>
  </ion-card>
  
</ion-content>
