<ion-content>
  <ion-tabs>
    <div class="tabs">
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="herb-home">
          <ion-icon name="leaf"></ion-icon>
          <ion-label>Herbs</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="firstaid-home">
          <ion-icon name="bandage"></ion-icon>
          <ion-label>First Aid</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="info-home">
          <ion-icon name="book"></ion-icon>
          <ion-label>Learn</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="aidkit-home">
          <ion-icon name="medkit"></ion-icon>
          <ion-label>First Aid Kit</ion-label>
        </ion-tab-button>
        
        <ion-tab-button tab="user-home" >
          <ion-icon name="menu-sharp"></ion-icon>
          <ion-label>Menu</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </div>
  </ion-tabs>
</ion-content>

