
<ion-content (ionRefresh)="doRefresh($event)">
  <ion-refresher slot="fixed">
    <ion-refresher-content
      refreshingSpinner="crescent"
    >
    </ion-refresher-content>
  </ion-refresher>
  <br>
  <div *ngIf="loadingData; else contentpic">
    <div class="img-top" >
      <ion-skeleton-text animated  class="img"></ion-skeleton-text>
    </div>
  </div>
  <ng-template #contentpic>
    <swiper-container
    autoplay-delay="1500" 
    autoplay-disable-on-interaction="false">
      <swiper-slide *ngFor="let item of pictures">
        <div class="img-top">
          <img src={{item.url}} alt="">
        </div>
      </swiper-slide>
    </swiper-container>
  </ng-template>

  <br>
  <div *ngIf="loadingData; else contentsearch">
    <div class="sticky-search">
      <div class="input-container">
        <ion-skeleton-text animated class="input_search"></ion-skeleton-text>
      </div>
    </div>
  </div>

  <ng-template #contentsearch>
    <div class="sticky-search">
      <div class="input-container">
        <input type="text" class="input" placeholder="Search..." [(ngModel)]="searchTerm" (input)="onSearch()" autocomplete="off">
        <span class="icon"> 
          <svg width="19px" height="19px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path opacity="1" d="M14 5H20" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="1" d="M14 8H17" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M21 11.5C21 16.75 16.75 21 11.5 21C6.25 21 2 16.75 2 11.5C2 6.25 6.25 2 11.5 2" stroke="#000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="1" d="M22 22L20 20" stroke="#000" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </span>
      </div>
    </div>
  </ng-template>

  <ng-container *ngIf="(searchResults | async) as results">
 <!-- Display "No results found" message if there are no search results -->
  <div *ngIf="!(searchResults | async)?.length && searchTerm.trim()">
    <p>No results found.</p>
  </div>

  <!-- Display search results in a grid if there are results -->
  <ion-grid *ngIf="searchResults && (searchResults | async)?.length > 0">
    <ion-row>
      <ion-col size="6" *ngFor="let info of (searchResults | async); let i = index" 
      (click)="openDetailsAlert(info)">
        <ion-card>
          <img [src]="info?.photourl !== '' ? info.photourl : '/assets/placeholder.jpg'" alt="" height="150px">
          <p class="card-text">{{ info.name }}</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>

  <!--Display the Original Grid Loading-->
  <ion-grid *ngIf="!(searchResults | async)?.length && !(searchTerm.trim())">
    <ion-row *ngIf="loadingData; else content">
      <ion-col size="6" *ngFor="let _ of [1, 2, 3, 4,5,6]">
        <div class="cards">
          <!-- Skeleton loading placeholders -->
          <ion-skeleton-text animated style="width: 100%; height: 100%; margin: 0;"></ion-skeleton-text>
        </div>
      </ion-col>
    </ion-row>

 <!--Display the Original Grid Content-->
    <ng-template #content>
      <ion-row>
        <ion-col size="6" *ngFor="let info of (firstaid | async); let i = index" 
        [style.--animation-order]="i" (click)="openDetailsAlert(info)">
          <ion-card>
            <img [src]="info?.photourl !== '' ? info.photourl : '/assets/placeholder.jpg'" alt="" height="150px">
            <p class="card-text">{{ info.name }}</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>

  <!-- Alert for displaying details -->
  <ion-alert *ngIf="selectedFirstAidItem"></ion-alert>

  <!--THIS SHOWS IF ADMIN IS LOGGED IN-->
  <div *ngIf="isAdmin" class="fab">
    <div *ngIf="loadingData; else content">
      <ion-fab  slot="fixed" vertical="bottom" horizontal="end" >
        <ion-fab-button class="loading-fab">
          <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
        </ion-fab-button>
      </ion-fab>
    </div>

  <ng-template #content>
    <ion-fab *ngIf="isAdmin" slot="fixed" vertical="bottom" horizontal="end" (click)="openNewInfoModal()">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-template>
  </div>  

</ion-content>
