<ion-content>

  <swiper-container #swiper
    [loop]="true" 
    [pagination]="true" 
    pagination-clickable="true"
    keyboard="true">
    <swiper-slide *ngFor="let item of titles; let last = last; let i = index">

      <div class="swiper_content">
        <div class="lottie">
          <ng-lottie [options]="item.options"></ng-lottie>
        </div>
      <p>{{item.message}}</p>
      </div>

      <div class="lottie-bg-1">
        <ng-lottie *ngIf="i === titles.length - 2" [options]="grow"></ng-lottie>
      </div>

      <div class="lottie-bg-2">
        <ng-lottie *ngIf="i === titles.length - 2" [options]="grow"></ng-lottie>
      </div>
      
      <!-- Show button only on the last slide -->
      <button *ngIf="last" routerLink="/login">Get Started</button>
    </swiper-slide>
  </swiper-container>
</ion-content>
