
.swiper_content{
    text-align: center;
}

img {
    width: 50%;
  }

p{
    font-size: 20px;
    font-weight: bold;
}

swiper-container{
    width: 100%;
    height: 100%;
    --swiper-pagination-color: brown;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-horizontal-gap: 5px;
}

swiper-slide {
    display: flex;
    position: relative;

    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.button {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.button > * {
    text-align: center;
}

.button p {
    flex: 0;
}

.button button {
    flex-shrink: 0;
}

swiper-slide {
    display: flex;
    position: relative;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
  }



  
  .button1:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
  }
  
  
  button {
    margin-top: 10%;
    position: relative;
    padding: 15px 39px;
    background: #2db917;
    color:#ffffff;
    letter-spacing: 1px;
    font-size:17px;
    font-weight:bold;
    border-radius: 28px;
    box-shadow: 4px 4px 8px  rgba(0, 0, 0, 0.4);
    width: 80%;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
  }