<ion-header class="ion-no-border" *ngIf="info">
  <ion-toolbar>
    <ion-title class="title">Update {{info.name}}</ion-title>
    <ion-buttons slot="start">
      <img (click)="cancel()" src="/assets/icon/back.png" alt="">
    </ion-buttons>
    <ion-buttons slot="end">
      <img (click)="submitForm()" src="/assets/icon/done.png" alt="">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="info" >

  <div class="image-container">
    <ng-container *ngIf="!updateInfoForm.get('photourl').value">
      <ng-lottie [options]="{ path: 'assets/json/placeholder_herb.json' }"></ng-lottie>
    </ng-container>
    <img [src]="updateInfoForm.get('photourl')?.value || info.photourl " *ngIf="updateInfoForm.get('photourl').value || info.photourl">
  </div>

  <div class="button-container">
    <button (click)="openCamera()">
      <ng-lottie [options]="option"></ng-lottie> 
      Upload Photo
    </button>
  </div>


  <ion-segment [(ngModel)]="selectedSegment" class="sticky-segment">
    <ion-segment-button value="1" (click)="selectSegment(1)">
      <img src="/assets/icon/info.png" alt="">
    </ion-segment-button>
  </ion-segment>


  <form [formGroup]="updateInfoForm" #updateForm="ngForm" (ngSubmit)="updateInfo(updateInfoForm.value)" *ngIf="info">
    
    <swiper-container #swiper (slidechange)="slideDidChange()" class="swiper" 
    auto-height="true" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)">

       <!--segment 1 content-->
      <swiper-slide value="1">
        <div class="card">
          <p>Name</p>
            <textarea type="text" class="card-text" autosize [minRows]="1" formControlName="name"></textarea>
          <p>Description</p>
            <textarea 
            class="card-text" 
            formControlName="description" 
            autosize
            [minRows]="6"
            ></textarea>
        </div>
      </swiper-slide>
    </swiper-container>
  </form>

  <div class="button-container">
    <button (click)="deleteInfo(info.id)">>Delete this info</button>
  </div>

</ion-content>
