
<ion-content [fullscreen]="true">

  <img class="back" (click)="back()" src="/assets/icon/iback.png" alt="">
  
  <div class="details">
    
    <p class="app">First Aid and Traditional Medication App For Municipality of San Isidro (RHU)</p>
    <div class="card">
      <p class="label-top"> About </p>


      <p class="content">First Aid and Traditional Medication App teaches ways of using natural remedies and knowledge of basic first aid. 
        From easy-to-find herbs to quick tips for common health issues. 
      <p class="content">Explore the world of traditional medication with confidence as we guide you through its principles, enriching your 
        knowledge about natural healing methods. Gain valuable insights into managing common illnesses and acquire essential first aid skills to handle emergencies effectively.</p>

      <p>For more information you can visit</p>
      <a href="https://www.facebook.com/profile.php?id=100089417193340" target="_blank" rel="noopener noreferrer">
        <p class="content">
          <ion-icon name="logo-facebook"></ion-icon> Visit the RHU Facebook Profile
        </p>
      </a>
    </div>

    <br>
    <div class="card">
      <p class="label-top"> Emergency Contacts </p>

      <p class="content">If there's an emergency, you can call this number from the Rural Health Unit of San Isidro:</p>

      <a href="tel:9408466">
        <p class="content">
          <ion-icon class="call" name="call"></ion-icon> 9408466
        </p>
      </a>

      <a href="tel:09664229067">
        <p class="content">
          <ion-icon class="call" name="call"></ion-icon> 09664229067
        </p>
      </a>     
    </div>

    <br>
    <div class="card">
      <p class="label-top"> References</p>  

      <p class="content">All pictures here are credited to the rightful owner </p>
    </div>

    <p> ©️2023 RHU Center</p>
    <br>
    <p> All Rights Reserved</p>
  </div>
</ion-content>
