<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img (click)="cancel()" src="/assets/icon/back.png" alt="">
    </ion-buttons>
    <ion-title>Aim of Herbal Medicine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <div class="card-content">
      <h3 class="intro">Introduction</h3>
      <p class="content">The aim of herbal medicine is to use the traditional empirical knowledge with modern science. It uses the healing power of nature to restore the body’s ability to protect, regulate and heal itself.
        The aim is also to protect the right of the public to choose herbal medicines ensuring that they are manufactured to a high standard of quality and safety by the use of modern techniques and scientific research.
      </p>
    </div>
  </ion-card>
  
</ion-content>
