<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img (click)="cancel()" src="/assets/icon/back.png" alt="">
    </ion-buttons>
    <ion-title>First Aid Kit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="card">
    <div class="card-content">
      <h3 class="title">First Aid Kit</h3>
      <p class="intro">A well-stocked first aid kit is a handy thing to have. To be prepared for emergencies:</p>
      <ul>
        <li>Keep a first aid kit in your home and in your car.</li>
        <li>Carry a first aid kit with you or know where you can find one.</li>
        <li>Find out the location of first aid kits where you work.</li>
      </ul>
      
      <p class="content">First aid kits come in many shapes and sizes. You can purchase one from the Red Cross Store or your local Red Cross chapter. Your local drug store may sell them. You can also make your own. Some kits are designed for specific activities, such as hiking, camping or boating.</p>
      <p class="intro">Whether you buy a first aid kit or put one together, make sure it has all the items you may need:</p>
      <ul>
        <li>Include any personal items such as medications and emergency phone numbers or other items your health-care provider may suggest.</li>
        <li>Check the kit regularly.</li>
        <li>Make sure the flashlight batteries work. (Flashlights available on the Red Cross Store)</li>
        <li>Check expiration dates and replace any used or out-of-date contents.</li>
      </ul>
       
      <p class="intro">The Red Cross recommends that all first aid kits for a family of four include the following:</p>
       <ul>
        <li>2 absorbent compress dressings (5 x 9 inches)</li>
        <li>25 adhesive bandages (assorted sizes)</li>
        <li>1 adhesive cloth tape (10 yards x 1 inch)</li>
        <li>5 antibiotic ointment packets (approximately 1 gram)</li>
        <li>5 antiseptic wipe packets</li>
        <li>2 packets of aspirin (81 mg each)</li>
        <li>1 blanket (space blanket)</li>
        <li>1 breathing barrier (with one-way valve)</li>
        <li>1 instant cold compress</li>
        <li>2 pair of nonlatex gloves (size: large)</li>
        <li>2 hydrocortisone ointment packets (approximately 1 gram each)</li>
        <li>Scissors</li>
        <li>1 roller bandage (3 inches wide)</li>
        <li>1 roller bandage (4 inches wide)</li>
        <li>5 sterile gauze pads (3 x 3 inches)</li>
        <li>5 sterile gauze pads (4 x 4 inches)</li>
        <li>Oral thermometer (non-mercury/nonglass)</li>
        <li>2 triangular bandages</li>
        <li>Tweezers</li>
        <li>First aid instruction booklet</li>
       </ul>
       
    </div>
  </ion-card>
  
</ion-content>
