
.title{
    text-transform: capitalize;
  }
   button {
      display: flex;
      align-items: center;
      gap: 10px; /* Add some spacing between the icon and text */
      padding: 5px 10px;
      border-radius: 10px;
      border: 0;
      background-color: rgb(255, 56, 86);
      letter-spacing: 1.5px;
      font-size: 14px;
      transition: all .3s ease;
      box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
      color: hsl(0, 0%, 100%);
     }
     
     button:active {
      background-color: rgb(255, 56, 86);
      /*50, 168, 80*/
      box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
      transform: translateY(5px);
      transition: 200ms;
     }
  
  ng-lottie{
      width: 24px;
      height: 24px;
  }
  
  .button-container{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      margin-top: 5%;
      margin-bottom: 5%;
  }
  
  .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
  .herbname{
      text-transform: capitalize;
  }
  

   
   .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .image-container img{
      display: flex;
      align-items: center;
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
      object-fit: cover;
      z-index: -1;
    }
   .sticky-segment{
      position: sticky;
      margin: 0;
      padding: 0;
      background: #fad6b7;
      img{
         width: 50px;
         height: 50px;
         object-fit: cover;
       }
   }
    
   h3{
      text-transform: capitalize;
   }
   ion-segment {
      --background:transparent;
      margin: 0;
   }
   
   ion-segment-button {
      --indicator-height:50px;
      --color: #ffffff;
      --color-checked: #000000;
      
   }
   ion-segment-button:nth-child(1) {
      --indicator-color: #38ff6d;
   }
   ion-segment-button:nth-child(2) {
      --indicator-color: #f8cb35;
   }
   ion-segment-button:nth-child(3) {
      --indicator-color: #389fff;
   }
   ion-segment-button:nth-child(4) {
      --indicator-color: #ff3838;
   }
    
   swiper-slide{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      flex-direction: column;
   }
   swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
 }
 swiper-slide:nth-child(1) .card {
    border: 3px solid #2acd55;
    .card-text:focus{
      border: 2px solid #2acd55;
   }
  }
  
  swiper-slide:nth-child(2) .card {
    border: 3px solid #f8cb35;
    .card-text:focus{
      border: 2px solid #f8cb35;
   }
  }
  
  swiper-slide:nth-child(3) .card , .card-text:focus{
    border: 3px solid #389fff;
    .card-text:focus{
    border: 2px solid #389fff;
   }
  }
  
  swiper-slide:nth-child(4) .card {
    border: 3px solid #ff3838;
  }
 
  
  .card {
   width: 90%;
   height: auto;
   border-radius: 20px;
   background: #f3dcaf;
   margin: 20px;
   overflow: hidden;
   padding: 15px; /* Add padding to create a margin of 15px inside the card */
 }
 
  .card > p {
    color: #282828;
    font-size: 18px;
    line-height: 2; 
    margin: 5px;
    text-align: left;
  }
  .card span{
    text-transform: capitalize;
  }
  .card .card-text {
   color: #282828;
   font-size: 18px;
   line-height: 2;
   width: 100%;
   border: 2px solid #f3dcaf;
   box-sizing: border-box;
   font-size: 18px;
   line-height: 2;
   outline: none;
   overflow: auto;
   background: #fff1d4;
   border-radius: 5px;
 }


   
    
    
    
    
    
    
    
     
    
    
    
    
    
    
    
    
    
    
    
    