<ion-header class="ion-no-border" *ngIf="herb">
  <ion-toolbar>
    <ion-title class="title">Update {{herb.herbname}}</ion-title>
    <ion-buttons slot="start">
      <img (click)="cancel()" src="/assets/icon/back.png" alt="">
    </ion-buttons>

    <ion-buttons slot="end">
      <img (click)="submitForm()" src="/assets/icon/done.png" alt="">
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" *ngIf="herb" >

  <br>
  <div class="image-container">
    <ng-container *ngIf="!selectedPhotoPath && !herb.photourl">
      <ng-lottie [options]="{ path: 'assets/json/placeholder_herb.json' }"></ng-lottie>
    </ng-container>
    <img [src]="selectedPhotoPath || herb.photourl" *ngIf="selectedPhotoPath || herb.photourl">
  </div>

  <div class="button-container">
    <button (click)="openCamera()">
      <ng-lottie [options]="option"></ng-lottie> 
      Upload Photo
    </button>
  </div>


  <br>
  <ion-segment [(ngModel)]="selectedSegment" class="sticky-segment">
    <ion-segment-button value="1" (click)="selectSegment(1)">
      <img src="/assets/icon/info.png" alt="">
    </ion-segment-button>
    <ion-segment-button value="2" (click)="selectSegment(2)">
      <img src="/assets/icon/herb1.png" alt="">
    </ion-segment-button>
    <ion-segment-button value="3" (click)="selectSegment(3)">
      <img src="/assets/icon/uses.png" alt="">
    </ion-segment-button>
    <ion-segment-button value="4" (click)="selectSegment(4)">
      <img src="/assets/icon/danger1.png" alt="">
    </ion-segment-button>
  </ion-segment>


  <form [formGroup]="updateHerbForm" #updateForm="ngForm" (ngSubmit)="updateInfo(updateHerbForm.value)" *ngIf="herb">
    
    <swiper-container #swiper (slidechange)="slideDidChange()" class="swiper"
    (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)">

      <!--segment 1 content-->
      <swiper-slide value="1">
        <div class="header">Information</div>
        <div class="card">
          <p>Herbal Name</p>
          <textarea type="text" class="card-text" autosize [minRows]="1" formControlName="herbname"></textarea>
          <p>Other Name:</p>
          <textarea class="card-text" autosize [minRows]="1" formControlName="other_name"></textarea>
          <p>Description</p>
          <textarea class="card-text" autosize [minRows]="6" formControlName="description"></textarea>
        </div>
      </swiper-slide>

      <!--segment 2 content-->
       <swiper-slide value="2">
        <div class="header">Benefits</div>
        <div class="card">
          <p>Benefits</p>
          <textarea type="text" class="card-text" autosize [minRows]="6" formControlName="benefits"></textarea>
        </div>
      </swiper-slide>

      <swiper-slide value="3">
        <div class="header">Preparation & Uses</div>
        <!-- Display subsequent cards when there are existing descriptions -->
        <div [formGroup]="description" class="card" *ngFor="let description of descriptionControls; let i = index">
          <p>Used For</p>
          <textarea class="card-text" autosize [minRows]="1" formControlName="title"></textarea>
          <p>Description</p>
          <textarea class="card-text" autosize [minRows]="6" formControlName="content"></textarea>
          <p>Method</p>
          <textarea class="card-text" autosize [minRows]="6" formControlName="procedure"></textarea>
          <button type="button" (click)="deleteAction(i)">Delete Description</button>
        </div>
        
        <!-- Display the initial card -->
        <div class="card">
          <p>Used For</p>
          <textarea class="card-text" autosize [minRows]="1" formControlName="title"></textarea>
          <p>Description</p>
          <textarea class="card-text" autosize [minRows]="6" formControlName="content"></textarea>
          <p>Method</p>
          <textarea class="card-text" autosize [minRows]="6" formControlName="procedure"></textarea>
        </div>
        <button type="button" (click)="addDescription()">Add Description</button>
        <br>
      </swiper-slide>

        <!--segment 4 content-->
        <swiper-slide value="4">
          <div class="header">Warning</div>
          <div class="card">
            <p>Babala</p>
            <textarea type="text" class="card-text" autosize [minRows]="6" formControlName="beware"></textarea>
          </div>
        </swiper-slide>

    </swiper-container>
  </form>
  <div class="button-container">
    <button (click)="deleteherb(herb.id)"> Delete this info</button>
  </div>
  
</ion-content>

