<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img (click)="cancel()" src="/assets/icon/back.png" alt="">
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="isAdmin">
      <img *ngIf="info" [routerLink]="'/firstaid-update/' + info.id" src="/assets/icon/edit.png" alt="">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="info">
  <br>
  <div class="image-container">
    <img [src]="info?.photourl !== '' ? info.photourl : '/assets/placeholder.jpg'" alt="" height="150px">
  </div>
  <br>
  <ion-segment [(ngModel)]="selectedSegment" class="sticky-segment">
    <ion-segment-button value="1" (click)="selectSegment(1)">
      <img src="/assets/icon/info.png" alt="">
    </ion-segment-button>
    <ion-segment-button value="2" (click)="selectSegment(2)">
      <img src="/assets/icon/do.png" alt="">
    </ion-segment-button>
  </ion-segment>
  
  <swiper-container #swiper (slidechange)="slideDidChange()" class="swiper"  auto-height="true"
  (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)">

    <!--segment 1 content-->
    <swiper-slide value="1">
      <div class="header">
        Information
      </div>
      <div class="card">
          <p>Name: <span>{{info.name}} </span> </p>
      </div>

      <div class="card">
        <p>Introduction</p>
        <textarea class="card-text" autosize readonly [minRows]="6">{{info.introduction}}</textarea>
      </div>

      <div class="card">
        <p>Cause</p>
        <textarea class="card-text" autosize readonly [minRows]="6">{{info.cause}}</textarea>
      </div>

    </swiper-slide>

    
    <!--segment 2 content-->
    <swiper-slide value="2">
      <div class="header">
        Methods
      </div>

      <div class="card">
        <p>What you need to do</p>
      </div>
      <div class="card" *ngFor="let description of info.description; let i = index">
        <p>Step: {{i + 1}}</p>
          <textarea class="card-text" readonly autosize [minRows]="1">{{description.content}}</textarea>
      </div>
    </swiper-slide>

    
  </swiper-container>

</ion-content>

