<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <img (click)="cancel()" src="/assets/icon/back.png" alt="">
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="isAdmin">
        <img  *ngIf="herb" [routerLink]="'/herb-update/' + herb.id" src="/assets/icon/edit.png" alt="">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="herb">

  <br>
  <div class="image-container">
    <img [src]="herb?.photourl !== '' ? herb.photourl : '/assets/placeholder.jpg'" alt="">
  </div>
  <br>
  <ion-segment [(ngModel)]="selectedSegment" class="sticky-segment">
    <ion-segment-button value="1" (click)="selectSegment(1)">
      <img src="/assets/icon/info.png" alt="">
    </ion-segment-button>
    <ion-segment-button value="2" (click)="selectSegment(2)">
      <img src="/assets/icon/herb1.png" alt="">
    </ion-segment-button>
    <ion-segment-button value="3" (click)="selectSegment(3)">
      <img src="/assets/icon/uses.png" alt="">
    </ion-segment-button>
    <ion-segment-button value="4" (click)="selectSegment(4)">
      <img src="/assets/icon/danger1.png" alt="">
    </ion-segment-button>
  </ion-segment>
  
  <swiper-container #swiper (slidechange)="slideDidChange()" class="swiper"  auto-height="true"

  (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)">

    <!--segment 1 content-->
    <swiper-slide value="1">
      <div class="header">Information</div>
     
      <div class="card">
          <p>Name: <span>{{herb.herbname}} </span> </p>
          <p>Other Name: <span>{{herb.other_name}} </span> </p>
      </div>
      <div class="card">
        <p>Description</p>
        <textarea class="card-text" readonly autosize [minRows]="6">{{herb.description}}</textarea>
      </div>
      
    </swiper-slide>

    <!--segment 2 content-->
    <swiper-slide value="2">
      <div class="header">Benefits</div>
      
      <div class="card">
        <p>Herbal Name: <span>{{herb.herbname}} </span> </p>
        <textarea class="card-text" readonly autosize [minRows]="6">{{herb.benefits}}</textarea>
      </div>
    </swiper-slide>
    
    <!--segment 3 content-->
    <swiper-slide value="3">
      <div class="header">Uses</div>
      
      <div class="card" *ngFor="let description of herb.uses">
        <p>Use For: {{description.title}}</p>
        <p>Description:</p>
        <textarea class="card-text" readonly autosize [minRows]="1">{{description.content}}</textarea>
        <p>Method:</p>
        <textarea class="card-text" readonly autosize [minRows]="1">{{description.procedure}}</textarea>
      </div>
    </swiper-slide>

    <!--segment 4 content-->
    <swiper-slide value="4">
      <div class="header">Additional Information</div>
      <div class="card">
        <p>Dapat Tandaan</p>
        <textarea class="card-text" readonly autosize [minRows]="6">{{herb.beware}}</textarea>
      </div>
    </swiper-slide>
    
  </swiper-container>

</ion-content>

