<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img (click)="cancel()" src="/assets/icon/back.png" alt="">
    </ion-buttons>
    <ion-title>What is the First Aid?</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  
  
  <ion-card class="card">
    <div class="card-content">
      <h3 class="title">What is the First Aid?</h3>
      <p class="intro">Intoduction</p>
      <p class="content">First aid is the assistance given to any person suffering a sudden illness or injury, with care provided to preserve life, prevent the condition from worsening, and/or promote recovery. It includes initial intervention in a serious condition prior to professional medical help being available, such as performing CPR while awaiting an ambulance, as well as the complete treatment of minor conditions, such as applying a plaster to a cut. First aid is generally performed by the layperson, with many people trained in providing basic levels of first aid, and others willing to do so from acquired knowledge. Mental health first aid is an extension of the concept of first aid to cover mental health.
        <br>
        <br>
        There are many situations which may require first aid, and many countries have legislation, regulation, or guidance which specifies a minimum level of first aid provision in certain circumstances. This can include specific training or equipment to be available in the workplace (such as an Automated External Defibrillator), the provision of specialist first aid cover at public gatherings, or mandatory first aid training within schools. First aid, however, does not necessarily require any particular equipment or prior knowledge, and can involve improvisation with materials available at the time, often by untrained persons.
        First aid can be performed on all mammals, although this article relates to the care of human patients.
      </p>
    </div>
    
  </ion-card>
  
</ion-content>

