
<ion-content (ionRefresh)="doRefresh($event)">

  <ion-refresher slot="fixed">
    <ion-refresher-content
      refreshingSpinner="circles"
    >
    </ion-refresher-content>
  </ion-refresher>

  <br>
  <swiper-container
  loop="true"
  autoplay="true">
    <swiper-slide>
      <div class="img-top" >
        <img src="/assets/backgrounds/herbs.jpg" alt="">
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="img-top" >
        <img src="/assets/backgrounds/herbs.jpg" alt="">
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="img-top" >
        <img src="/assets/backgrounds/herbs.jpg" alt="">
      </div>
    </swiper-slide>
  </swiper-container>
 
  
  <div class="sticky-search">
    <div class="input-container">
      <input type="text" class="input" placeholder="Look For Medicinal Plant..." [(ngModel)]="searchTerm" (input)="onSearch()" autocomplete="off" clearInput="true">
      <span class="icon"> 
        <svg width="19px" height="19px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path opacity="1" d="M14 5H20" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="1" d="M14 8H17" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M21 11.5C21 16.75 16.75 21 11.5 21C6.25 21 2 16.75 2 11.5C2 6.25 6.25 2 11.5 2" stroke="#000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="1" d="M22 22L20 20" stroke="#000" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
      </span>
    </div>
  </div>
  
 <!-- Use Angular ng-container to store async result locally -->
<ng-container *ngIf="(searchResults | async) as results">
  <!-- Display "No results found" message if there are no search results -->
  <div *ngIf="!results.length && searchTerm && searchTerm.trim() !== ''">
    <div class="no_result">
      <p>No results found.</p>
    </div>
  </div>

  <!-- Display search results in a grid if there are results -->
  <ion-grid *ngIf="results.length > 0">
    <ion-row>
      <ion-col size="6" *ngFor="let herb of results; let i = index"
      [routerLink]="'/herb-details/' + herb.id">
        <ion-card>
          <img [src]="herb?.photourl !== '' ? herb.photourl : '/assets/placeholder.jpg'" alt="" height="150px">
          <p class="card-text">{{ herb.herbname }}</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>

  <!-- Display original herb grid if no search results or no search performed -->
  <ion-grid *ngIf="!(searchResults | async)?.length && !(searchTerm.trim())">
    <ion-row>
      <ion-col size="6" *ngFor="let herb of (firstaid | async); let i = index" [style.--animation-order]="i"
      [routerLink]="'/herb-details/' + herb.id">
        <ion-card>
          <img [src]="herb?.photourl !== '' ? herb.photourl : '/assets/placeholder.jpg'" alt="" height="150px">
          <p class="card-text">{{ herb.herbname }}</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab  *ngIf="isAdmin" slot="fixed" vertical="bottom" horizontal="end" (click)="openNewModal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
