<ion-content *ngIf="user | async as User">

  <br><br>

  <div class="profile-pic" [routerLink]="'/user-details/' + User.uid" >
    <img [ngClass]="{'online-border': isUserOnline, 'offline-border': !isUserOnline}" [src]="User.photourl ?? '/assets/avatar.png'" alt="">
    <p class="profile-name">{{ User.firstname }}</p>
    <p class="profile-email">{{ User.email }}</p>
  </div>
  
  <div class="buttons">
    
    <ion-item *ngIf="isAdmin" (click)="users()">
      <ion-badge slot="end"> {{ totalUsers }} </ion-badge>
      <ion-icon slot="start" name="person"></ion-icon>
      <p>View all Users</p>
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>

    <ion-item [routerLink]="'/user-update/' + User.uid" >
      <ion-icon slot="start" name="person"></ion-icon>
      <p>Edit Profile</p>
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="information-circle"></ion-icon>
      <p>About</p>
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>

    <ion-item (click)="logout()">
      <ion-icon slot="start" name="log-out"></ion-icon>
      <p>Logout</p>
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>
  </div>


</ion-content>
