
.back{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    ion-icon {
        border-radius: 50%;
        border: 2px solid;
        background-color: #2db917;
        color: white;
        font-size: 24px;
        position: relative;
        top: 30px;
        left: 30px;
        padding: 10px;
    }
}

.container {
    // border: 3px solid burlywood;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;

}

.login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    color: #2db917;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.login > img {
    width: 80px;
    aspect-ratio: 1;
}

.label-container{
    margin-top: 30%;
    display: block;
}
.label-container p{
    font-size: 16px;
    margin-left: 10px;
    padding: 0;
    letter-spacing: 1px;
    font-weight:600;
}
ion-item {
    border-radius: 16px;
    border: 2px solid #ffffff;
    margin-bottom: 25px;
    box-shadow: 4px 4px 8px  rgba(0, 0, 0, 0.4);
}
ion-note {
    --color: #ff3838;
    margin-left: 10px;
    font-size: 13px;
}
.error{
    margin-top: -10px;
    margin-bottom: 20px;
}
ion-input {
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
}
ion-icon {
    font-size: 24px;
    color: #262626;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
button {
    margin-top: 10%;
    position: relative;
    padding: 15px 39px;
    background: #2db917;
    color:#ffffff;
    letter-spacing: 1px;
    font-size:17px;
    font-weight:bold;
    border-radius: 28px;
    box-shadow: 4px 4px 8px  rgba(0, 0, 0, 0.4);
    width: 80%;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
  }
  
  @keyframes wind {
    0% {
      background-position: 0% 50%;
    }
  
    0% {
      background-position: 50% 100%;
    }
  
    0% {
      background-position: 0% 50%;
    }
  }
  
  .icon-1 {

    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    transform-origin: 0 0;
    transform: rotate(10deg);
    transition: all .5s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    transform: rotate(10deg);
  }
  
  @keyframes slay-1 {
    0% {
      transform: rotate(10deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(10deg);
    }
  }
  
  .icon-2 {
    position: absolute;
    top: 0;
    left: 30px;
    width: 18px;
    transform-origin: 50% 0;
    transform: rotate(10deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
     animation: slay-3 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
  }
  
  
  @keyframes slay-2 {
    0% {
        transform: rotate(10deg);
      }
    
      50% {
        transform: rotate(-5deg);
      }
    
      100% {
        transform: rotate(10deg);
      }
  }
  
  .icon-3 {
    position: absolute;
    top: 0;
    left: 5px;
    width: 22px;
    transform-origin: 50% 0;
    transform: rotate(-5deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
      animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    transform: rotate(0);
  }
  
  @keyframes slay-3 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(-10deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }

button:active {
	position:relative;
	top:2px;
}
