<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img (click)="cancel()" src="/assets/icon/back.png" alt="">
    </ion-buttons>
    <ion-title>why</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="card">
    <div class="card-content">
      <h3 class="title">Why Learn First Aid?</h3>

      <p class="intro">Introduction</p>
    
      <p class="content">Everyone should learn at least some basic first aid techniques. You never know when you might need them - you could be at home, at work, at school or on holiday.
        Whether it's a minor situation or something more serious, first aid knowledge will give you the confidence to act. You could be the difference between life and death.
      </p>
    
      <h3 class="intro">Why should you learn first aid?</h3>
        <ul>
          <li class="content"><b>Gain the knowledge, skills and confidence to act in an emergency</b></li>
          <li class="content"><b>Be a resource for your community:</b> we all know about the high risk emergency events we’re exposed to in the Territory. Whether it be your immediate family, people in your street or the broader community, having more people with first aid skills helps build a stronger and more resilient Territory community</li>
          <li class="content"><b>Stay up to date with correct treatments:</b> Over time first aid treatments change and our memories fade so keeping up to date with your first aid certificates and refreshing your skills is vital</li>
          <li class="content"><b>Stay safe at work:</b> Illness and injury can happen anywhere, anytime. With first aid knowledge you can be create a safe work environment and help meet your workplace’s safety requirements</li>
          <li class="content"><b>Start a career pathway into the health profession:</b> the first-hand experience you gain learning first aid and using your skills could help you decide if you want to pursue a career in the health profession. It also demonstrates your commitment to a career in the health profession when it comes time to apply for jobs</li>
          <li class="content"><b>Anyone can learn first aid:</b> no matter what your background or skill level you can learn first aid. First aid is a skill for every Territorian.You could be the different between life and death.</li>
        </ul>
        
    </div>
  </ion-card>
 

  
  

</ion-content>
