<ion-header>
  <ion-toolbar>
    <ion-title>Medicinal Plant Information</ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="dismissModal()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="!createHerbForm.valid" (click)="submitForm()">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <div class="image-container">
    <ng-container *ngIf="!createHerbForm.get('photourl').value">
      <ng-lottie [options]="{ path: 'assets/json/placeholder_herb.json' }"></ng-lottie>
    </ng-container>
    <img [src]="createHerbForm.get('photourl').value" *ngIf="createHerbForm.get('photourl').value">
  </div>

  <div class="button-container">
    <button (click)="openCamera()">
      <ng-lottie [options]="option"></ng-lottie> 
      Upload Photo
    </button>
  </div>

  <ion-segment [(ngModel)]="selectedSegment" class="sticky-segment">
    <ion-segment-button value="1" (click)="selectSegment(1)">
      <img src="/assets/icon/info.png" alt="">
    </ion-segment-button>
    <ion-segment-button value="2" (click)="selectSegment(2)">
      <img src="/assets/icon/herbal.png" alt="">
    </ion-segment-button>
    <ion-segment-button value="3" (click)="selectSegment(3)">
      <img src="/assets/icon/uses.png" alt="">
    </ion-segment-button>
    <ion-segment-button value="4" (click)="selectSegment(4)">
      <img src="/assets/icon/danger.png" alt="">
    </ion-segment-button>
  </ion-segment>


  <form [formGroup]="createHerbForm" #createForm="ngForm" (ngSubmit)="createInfo(createHerbForm.value)">

    <swiper-container #swiper  (slidechange)="slideDidChange()" class="swiper" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)">

    <!--segment 1 content-->
    <swiper-slide value="1">
      <div class="card">
        <p>Herbal Name</p>
        <textarea type="text" class="card-text" autosize [minRows]="1" formControlName="herbname"></textarea>
        <p>Scientific Name:</p>
        <textarea class="card-text" autosize [minRows]="1" formControlName="scientificname"></textarea>
        <p>Description</p>
        <textarea class="card-text" autosize [minRows]="6" formControlName="description"></textarea>
      </div>
    </swiper-slide>

     <!--segment 2 content-->
     <swiper-slide value="2">
      <div class="card">
        <p>Uses</p>
        <textarea type="text" class="card-text" autosize [minRows]="6" formControlName="uses"></textarea>
      </div>
    </swiper-slide>

    <!--segment 3 content-->
    <swiper-slide value="3">
      <div class="card" *ngFor="let precaution of createHerbForm.get('precautions').value; let i = index">
      <p>{{ i + 1 }}</p>
      <textarea
        type="text"
        class="card-text"
        autosize
        [minRows]="3"
        [value]="precaution"
        readonly
      ></textarea>
    </div>

    <div class="card">
      <p>Method</p>
        <textarea
        type="text"
        class="card-text"
        autosize
        [minRows]="3"
        formControlName="desc"
        ></textarea>
      <button type="button" (click)="addPrecaution()">Add new method</button>
    </div>
    
    </swiper-slide>
  

    <swiper-slide value="4">
      <div class="card" *ngFor="let herb of createHerbForm.get('precautions').value; let i = index">
        <p>{{ i + 1 }}</p>
    
        <textarea 
          type="text"
          class="card-text"
          autosize
          [minRows]="1"
          [value]="createHerbForm.get('title').value[i]"
          readonly>
        </textarea>
    
        <textarea
          type="text"
          class="card-text"
          autosize
          [minRows]="6"
          [value]="herb"
          readonly
        ></textarea>
      </div>
    
      <div class="card">
        <p>Title</p>
        <textarea
          type="text"
          class="card-text"
          autosize
          [minRows]="1"
          formControlName="title_desc"
        ></textarea>
        <p>Method</p>
        <textarea
          type="text"
          class="card-text"
          autosize
          [minRows]="6"
          formControlName="desc"
        ></textarea>
        <button type="button" (click)="addPrecaution()">Add new method</button>
      </div>
    </swiper-slide>
    
  </swiper-container>
  </form>

</ion-content>
