<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img (click)="cancel()" src="/assets/icon/back.png" alt="">
    </ion-buttons>
    <ion-title>What is Traditional Medicine?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="card">
    <div class="card-content">
      <h3 class="title">What is Traditional Medicine?</h3>
      <p class="intro">Introduction</p>
      <p class="content">Traditional medicine has a long history. It is the sum of the knowledge, skills and practices based on the theories, beliefs and experiences indigenous to different cultures, whether explicable or not, used in the maintenance of health and the prevention, diagnosis, improvement or treatment of physical and mental illness.</p>
      <p class="intro">10 herbal medicines that are approved by the Department of Health(DOH) through Republic Act No. 8423: </p>
        <ul>
          <li>Lagundi</li>
          <li>Ulasimang-bato</li>
          <li>Guava</li>
          <li>Bawang</li>
          <li>Yerba buena</li>
          <li>Sambong</li>
          <li>Akapulko</li>
          <li>Niyog-niyogan</li>
          <li>Tsaang gubat</li>
          <li>Ampalaya</li>
        </ul>
    </div>
  </ion-card>
  
</ion-content>
